<script type="text/javascript">
// <![CDATA[
$(document).ready(function (){
	$("#menue_dhtml-accordion").accordion({
		header		: 'h5',
		active      : 0,
		autoHeight	: false,
		icons: {
			header: 'ui-icon-circle-arrow-e',
			headerSelected: 'ui-icon-circle-arrow-s'
		}
	});
});
// ]]>
</script>
<style type='text/css'>
.menue_dhtml-accordion-content {
	min-height: 3em;
	overflow: hidden;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	padding-bottom: 1px;
}

.menue_dhtml-accordion-content p {
	font-weight: normal;
	font-style: italic;
	margin-left: 10px;
	line-height: 1.4em;
	padding-bottom: 2px;
}

.menue_dhtml-accordion-topictitle {
	font-weight: bold;
}

#menue_dhtml-accordion h5 {
	font-weight: normal;
	font-size: 11px;
	min-height: 1.4em;
	padding-left: 25px;
}
</style>

<div id="menue_dhtml-accordionResizer">
    <div id="menue_dhtml-accordion">
    
    <h5>{L_PORTAL}</h5>
    <div class="menue_dhtml-accordion-content">
        <p> <a href="{U_PORTAL}" title="{L_PORTAL}">{L_PORTAL}</a>, 
            <a href="{U_INDEX}" title="{L_INDEX}">{L_INDEX}</a>, 
            <a href="{U_PORTAL_RECENT_TOPICS}" title="{L_RECENT_TOPICS}">{L_RECENT_TOPICS}</a>, 
            <!-- IF S_DISPLAY_MEMBERLIST -->
            <a href="{U_MEMBERLIST}" title="{L_MEMBERLIST}">{L_MEMBERLIST}</a>,
            <!-- ENDIF -->
            <!-- IF S_DISPLAY_SEARCH -->
            <a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH}</a>,
            <!-- ENDIF -->
        </p>
     </div>
      
    <h5>{L_INDEX}</h5>
    <div class="menue_dhtml-accordion-content">
        <p> <a href="{U_PORTAL_GROUPS}" title="{L_GROUPS}">{L_GROUPS}</a>, 
            <a href="{U_PORTAL_MODS}" title="{L_PORTAL_MODS}">{L_PORTAL_MODS}</a>, 
            <a href="{U_PORTAL_ACRONYM}" title="{L_ACRONYMS}">{L_ACRONYMS}</a>, 
            <a href="{U_PORTAL_PAGES}" title="{L_PAGES_LIST_TITLE}">{L_PAGES_LIST_TITLE}</a>,
        </p>
    </div>
    
    <h5>{L_FAQ_EXPLAIN}</h5>
    <div class="menue_dhtml-accordion-content">
        <p> <a href="{U_FAQ}" title="{L_FAQ}">{L_FAQ}</a>, 
            <a href="{U_TEAM}" title="{L_THE_TEAM}">{L_THE_TEAM}</a> 
        </p>
    </div>
    
    <!-- IF not S_USER_LOGGED_IN -->
    <h5>{L_REGISTER}</h5>
    <div class="menue_dhtml-accordion-content">
        <p> <a href="{U_REGISTER}" title="{L_REGISTER}">{L_REGISTER}</a></p>
        <p><a href="{U_TERMS_USE}" title="{L_TERMS_USE}">{L_TERMS_USE}</a> | <a href="{U_PRIVACY}" title="{L_PRIVACY}">{L_PRIVACY}</a> | <a href="./faq.php?mode=rules" title="{L_RULES_PAGE}">{L_RULES_PAGE}</a></p>
    </div>
    <!-- ENDIF -->
    
    <!-- [+] include single extra links between here -->


    <!-- [-] include single extra links between here -->

    </div>
</div>

